<div>get to the market quick!</div>
<%= form_for @phone do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name, class: "border-2 border-gray-900"  %>
    </div>
   <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: "border-2 border-gray-900" %>
  </div>
   <div>
    <%= f.label :price %>
    <%= f.text_field :price, class: "border-2 border-gray-900" %>
  </div>
  <%= f.submit "edit phone"%>
<% end %>
<% if logged_in? && current_shop == @phone.shop %>
<%= link_to 'delete phone', phone_path(@phone), method: :delete, data: { confirm: 'by clicking remove, your customers wont be able to view or search it on the site, are you sure you want to remove it?' }, class: "text-red-700" %>
<% end %>
  