render
<%= render 'layouts/nav' %>
<div class="flex mb-4">
  <div class="w-1/3 bg-gray-400 h-full"></div>
  <div class="w-1/3 bg-gray-500 h-full">
  <%= render @messages %>
  <%= form_for(@message, html: {class: "border-2 border-gray-300", role: "form"}, url: message_path) do |f| %>
    <%= f.text_field :body %>
    <%= f.button '<i class="fa fa-edit"></i>'.html_safe%>
  <% end %>
  </div>
  <div class="w-1/3 bg-gray-400 h-full"></div>
</div>